*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}
#termCreation, form {
    width: calc(100% - 20px);
    justify-content: center;
    text-align: center;
    display: flex;
}
.labelBox {
    display: flex;
    flex-direction: row;
}
.fieldset {
    width: calc(25% - 20px);
    border: none;
    box-shadow: 0px 5px 10px 0px rgba(174, 174, 174, 0.5);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    justify-content:flex-end;
    text-align: center;
    display: flex;
    flex-direction: column;
}
p, button {
    width: calc(100% - 20px);
    border-radius: 10px;    
    box-shadow: 0px 5px 10px 0px rgba(174, 174, 174, 0.5);
    padding: 10px;
    margin: 10px;
    border: none;
}
button:active {
    background-color: rgb(255, 96, 96);
    color: #fff;
    transition: 300ms;
}
input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;    
    box-shadow: 0px 5px 10px 0px rgba(174, 174, 174, 0.5);
    text-align: center;
}
label {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px;
}
@media (max-width: 1000px) {
    .fieldset {
        width: 225px;
    }
}